<div class="admin-topbar">

    <div class="dashboard-title">
        Dashboard
    </div>

    <div class="search-container">
        <div class="search-box">
            <input placeholder="Search..." />
        </div>
    </div>

    <div class="profile">
        <div class="profile-icon">A</div>
        <span class="username">Admin</span>
    </div>

</div>