@inherits LayoutComponentBase
@rendermode InteractiveServer
<link href="css/admin-layout.css" rel="stylesheet" />

<div class="admin-wrapper">
    <AdminSidebar />

    <div class="admin-main">
        <AdminTopbar />

        <div class="admin-content">
            @Body
        </div>
    </div>
</div>